{% extends 'base.html.twig' %}

{% block title %}Showing {{ image_name }}{% endblock %}

{% block headers %}

    {% if (prev) %}
        <link rel="prev" href="{{ path('glide_image', {'path': prev}) }}" />
    {% endif %}
    {% if (dir) %}
        <link rel="up" href="{{ path('imagedir', {'path': dir}) }}" />
    {% endif %}

    {% if (next) %}
        <link rel="next" href="{{ path('glide_image', {'path': next}) }}" />
    {% endif %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block bodyclass %}image{% endblock %}

{% block body %}

    <nav class="prevnext">
        <ul>
            <li class="prev-link-item">
                {% if (prev) %}
                    <a class="prev-link" href="{{ path('glide_image', {'path': prev}) }}">Prev</a>
                {% endif %}
            </li>
            <li class="album-link-item">
                {% if (dir) %}
                    <a class="album-link" href="{{ path('imagedir', {'path': dir}) }}">Album</a>
                {% endif %}
            </li>
            <li class="next-link-item">
                {% if (next) %}
                    <a class="next-link" href="{{ path('glide_image', {'path': next}) }}">Next</a>
                {% endif %}
            </li>
        </ul>
    </nav>

    <figure>
        {{ path | glide_image({'sizes': ['100vw']}) }}
        {#<figcaption>Caption goes here</figcaption>#}
    </figure>

{% endblock %}
