{% extends 'base.html.twig' %}

{% block title %}Showing {{ image_name }}{% endblock %}

{% block body %}

    <nav class="prevnext">
        <ul>
            <li>
                {% if (prev) %}
                    <a class="prev-link" href="{{ path('glide_image', {'path': prev}) }}">Prev</a>
                {% endif %}
            </li>
            <li>
                {% if (dir) %}
                    <a class="album-link" href="{{ path('imagedir', {'path': dir}) }}">Album</a>
                {% endif %}
            </li>
            <li>
                {% if (next) %}
                    <a class="next-link" href="{{ path('glide_image', {'path': next}) }}">Next</a>
                {% endif %}
            </li>
        </ul>
    </nav>

    <figure>
        {{ path | glide_image({'sizes': ['100vw']}) }}
        {#<figcaption>Caption goes here</figcaption>#}
    </figure>

{% endblock %}
