{% extends 'base.html.twig' %}

{% block title %}Showing {{ directory_name }}{% endblock %}

{% block stylesheets %}
    <style>

        ul.images {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
        }
        ul.images > li {

        }

        ul.images img {
            /*max-width: 250px;*/
            padding: 5px;
        }

        ul.images img:hover {
            background: green;
        }

    </style>
{% endblock %}

{% block body %}

    <ul class="directories">
    {% for directory in directories %}
        <li><a href="{{ path('imagedir', {'path': directory.path}) }}">{{ directory.path }}</a></li>
    {% endfor %}
    </ul>

    <ul class="images">
        {% for image in images %}
            <li><a href="{{ path('glide_image', {'path': image.path}) }}">
                {{ image.path | glide_image({
                    'presets': ['small', 'medium', 'large'],
                    'sizes': [
                        'calc(25vw)',
                    ],
                    })
                }}
            </a></li>
        {% endfor %}
    </ul>

{% endblock %}
