{% extends 'base.html.twig' %}

{% block title %}Showing {{ directory_name }}{% endblock %}

{% block stylesheets %}
    <style>

        ul.images {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
            list-style: none;
        }

        ul.images > li {
            text-align: center;
            margin: 0;
            padding: 0;
        }

        ul.images img {
            padding: 5px;
        }

        ul.images img:hover,
        ul.directories img:hover {
            background: green;
        }

        ul.directories {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        img.directory-icon {
            width: 200px;
        }

        @media (max-width : 640px) {
            img.directory-icon {
                width: 100px;
            }
        }


        nav.prevnext > ul {
            display: flex;
            justify-content: center;
            list-style: none;
        }

        nav.prevnext a {
            text-decoration: none;
            color: blue;
            background-color: lightgreen;
            border-radius: 5px;
            padding: 5px;
        }

        a.album-link:before {
            content: '^ ';
        }
    </style>
{% endblock %}

{% block body %}

    <nav class="prevnext">
        <ul>
            <li>
                {% if (dir) %}
                    <a class="album-link" href="{{ path('imagedir', {'path': dir}) }}">Album</a>
                {% endif %}
            </li>
        </ul>
    </nav>

    <ul class="directories">
    {% for directory in directories %}
        <li>
            <a href="{{ path('imagedir', {'path': directory.path}) }}">
                <figure class="directory">
                    <img src="{{ asset('icons/twotone-folder_open-24px.svg') }}" alt="{{ directory.basename}}" class="directory-icon" />
                    <figcaption>{{ directory.basename }}</figcaption>
                </figure>
            </a></li>
    {% endfor %}
    </ul>

    <ul class="images">
        {% for image in images %}
            <li><a href="{{ path('glide_image', {'path': image.path}) }}">
                {{ image.path | glide_image({
                    'presets': ['small', 'medium', 'large'],
                    'sizes': [
                        'calc(20vw)',
                    ],
                    })
                }}
            </a></li>
        {% endfor %}
    </ul>

{% endblock %}
