{% extends 'base.html.twig' %}

{% block title %}Showing {{ directory_name }}{% endblock %}

{% block stylesheets %}
    <style>

        ul.images {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            /*grid-gap: 5px;*/
            list-style: none;

            /*width: 90%;*/
        }

        ul.images > li {
            text-align: center;
            border: 1px dotted red;
            margin: 0;
            padding: 0;
        }

        ul.images img {
            /*max-width: 250px;*/
            padding: 5px;
        }

        ul.images img:hover {
            background: green;
        }


        ul.directories {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        img.directory-icon {
            width: 15vw;
        }

    </style>
{% endblock %}

{% block body %}

    <ul class="directories">
    {% for directory in directories %}
        <li>
            <a href="{{ path('imagedir', {'path': directory.path}) }}">
                <figure class="directory">
                    <img src="{{ asset('icons/twotone-folder_open-24px.svg') }}" alt="{{ directory.basename}}" class="directory-icon" />
                    <figcaption>{{ directory.basename }}</figcaption>
                </figure>
            </a></li>
    {% endfor %}
    </ul>

    <ul class="images">
        {% for image in images %}
            <li><a href="{{ path('glide_image', {'path': image.path}) }}">
                {{ image.path | glide_image({
                    'presets': ['small', 'medium', 'large'],
                    'sizes': [
                        'calc(20vw)',
                    ],
                    })
                }}
            </a></li>
        {% endfor %}
    </ul>

{% endblock %}
