{% extends 'base.html.twig' %}

{% block title %}Showing {{ directory_name }}{% endblock %}

{% block body %}
<style>
    /*.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }*/
    /*.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }*/
    ul.images {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }
    ul.images li {
        margin: 5px;
    }

</style>

    <ul class="directories">
    {% for directory in directories %}
        <li><a href="{{ path('imagedir', {'path': directory.path}) }}">{{ directory.path }}</a></li>
    {% endfor %}
    </ul>

    <ul class="images">
        {% for image in images %}
            <li><a href="{{ path('glide_image', {'path': image.path}) }}">
                {{ image.path | glide_image(200, ['small', 'medium']) }}
            </a></li>
        {% endfor %}
    </ul>

{% endblock %}
