{% extends 'base.html.twig' %}

{% block title %}Showing {{ directory_name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

        /* Albums have only one link, so center it. */
        nav.prevnext > ul {
            justify-content: center;
        }

    </style>
{% endblock %}

{% block body %}

    <nav class="prevnext">
        <ul>
            <li>
                {% if (dir) %}
                    <a class="album-link" href="{{ path('imagedir', {'path': dir}) }}">Album</a>
                {% endif %}
            </li>
        </ul>
    </nav>

    <ul class="directories">
    {% for directory in directories %}
        <li>
            <a href="{{ path('imagedir', {'path': directory.path}) }}">
                <figure class="directory">
                    <img src="{{ asset('icons/twotone-folder_open-24px.svg') }}" alt="{{ directory.basename}}" class="directory-icon" />
                    <figcaption>{{ directory.basename }}</figcaption>
                </figure>
            </a></li>
    {% endfor %}
    </ul>

    <ul class="images">
        {% for image in images %}
            <li><a href="{{ path('glide_image', {'path': image.path}) }}">
                {{ image.path | glide_image({
                    'presets': ['small', 'medium', 'large'],
                    'sizes': [
                        'calc(20vw)',
                    ],
                    })
                }}
            </a></li>
        {% endfor %}
    </ul>

{% endblock %}
